.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials a {
  font-size: 22px;
  color: #94a3b8;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}