.updates-page {
  padding: 100px 20px;
  background: #020617;
  min-height: 100vh;
}

/* TITLE */
.updates-title {
  text-align: center;
  font-size: 36px;
  color: #38bdf8;
  margin-bottom: 50px;
}

/* MAIN CARD */
.updates-card {
  max-width: 650px;
  margin: auto;

  background: rgba(15, 23, 42, 0.7);
  padding: 25px;
  border-radius: 16px;

  border: 1px solid rgba(148, 163, 184, 0.1);
}

/* POST */
.post {
  padding: 18px;
  border-radius: 12px;
  margin-bottom: 20px;

  background: #020617;
  border: 1px solid rgba(148, 163, 184, 0.1);

  transition: 0.3s ease;
}

.post:hover {
  border: 1px solid #38bdf8;
}

/* HEADER */
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name {
  font-weight: 600;
  color: #e2e8f0;
}

.role {
  font-size: 12px;
  color: #94a3b8;
}

.time {
  font-size: 12px;
  color: #94a3b8;
}

/* TEXT */
.post-text {
  margin-bottom: 10px;
  color: #e2e8f0;
}

/* IMAGE */
.post img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

/* VIDEO */
.post iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-top: 10px;
}

/* ACTIONS */
.post-actions {
  display: flex;
  gap: 20px;
  margin-top: 12px;
  font-size: 14px;
  color: #94a3b8;
}

.post-actions span:hover {
  color: #38bdf8;
  cursor: pointer;
}